<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnnPackager" version="2.0.6" targetFramework="net45" developmentDependency="true" />
  <package id="DotNetNuke.Core" version="8.0.0.809" targetFramework="net45" />
  <package id="DotNetNuke.Web" version="8.0.0.809" targetFramework="net45" />
  <package id="DotNetNuke.Web.Deprecated" version="8.0.0.809" targetFramework="net45" />
</packages>